<!DOCTYPE html>
<html lang="en">
{% extends 'CT/base.html' %}
{% load static %}
{% block content %}

   <body>
   {% if user.is_authenticated %}

           <h2> Hello {{ user.username }}, Welcome to the CT Interphase!</h2>

   {% endif %}
   <div class="content container">
       <div class="row">
           <div class="col-md-12">
               <div class="links">
                   <!-- Example row of columns -->
                   <div class="row">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/Clients.jpg" %}" alt="client"/>
                                <div class="caption">
                                    <h3>Clients</h3>
                                    <p>Ensuring our clients are given the opportunity to track their nutrition
                                        goals is our mission</p>
                                    {% if user.is_authenticated %}
                                        <p><a class="btn btn-default" href="{% url 'CT:client_list' %}"
                                              role="button">View
                                            details &raquo;</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                       <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/MTrack.jpg" %}" alt="mTrack"/>
                                <div class="caption">
                                    <h3>Meal Tracker</h3>
                                    <p>Full meal catalogs overseen by our nutrition professionals
                                        help track client progress in their nutrition goals</p>
                                    <p><a class="btn btn-default" href="{% url 'CT:mealtrack_list' %}"
                                           role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>

                   </div>
               </div>
           </div>
       </div>
   </div>
   </body>

    <style>

    h2 {
        text-align: center;
        margin-left: 240px;
        width: 100%;
    }

    </style>

{% endblock %}

</html>

